div#login {
	width: auto;
}

.gigya-wp-account-widget .gigya-wp-avatar {
	display: inline-block;
	width: 48px;
	height: auto;
}

.gigya-wp-account-widget .gigya-wp-avatar img {
	width: 48px;
	height: auto;
}

.gigya-wp-account-widget .gigya-wp-info {
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}

.gigya-wp-account-widget .gigya-wp-name {
	display: block;
}

.gigya-wp-field-error {
	border: red solid 1px !important;
	box-shadow: inset 0 1px 2px rgba(255, 0, 0, 0.3) !important;
}

.gigya-wp-settings-table {
	border: #ccc solid 1px;
	margin: 10px 0px;
}

.gigya-wp-settings-table td {
	padding: 5px;
}

.gigya-wp-settings-table .gigya-remove-dynamic-field-line {
	padding: 3px;
}

.gigya-remove-dynamic-field-line.dashicons-before.dashicons-trash
{
	line-height:0px;

}