.hidden {
	display: none;
}

.header h1 {
	display: inline-block;
}

.gigya-settings h3 {
	font-size: 1.7em;
}

.gigya-settings label {
	cursor: auto;
	display: block;
}

.gigya-settings small {
	display: block;
}

.gigya-settings .hidden {
	display: none;
}

.gigya-settings .gigya-raas-warn {
	color: red;
}

.row {
	margin: 10px 0;
}

input[type=checkbox] {
	margin-right: 5px;
}

.size input {
	width: 100px;
}

.gigya-settings .toggle-link {
	width: 270px;
	height: 20px;
	background: transparent url("/wp-admin/images/arrows.png") no-repeat 0 0;
	display: inline-block;
	text-indent: 20px;
}

#adminmenu .toplevel_page_gigya .wp-menu-image img {
	padding: 0;
}

.widget-content .size input {
	width: 100%;
}

.clean-db {
	border: 1px solid #ccc;
	padding: 5px;
	background: #f7f7f7;
	border-radius: 3px;
	color: #555;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
}

.clean-db:hover {
	background: #fafafa;
	border-color: #999;
	color: #222;
}

.other_dataCenter input{
    padding-top: 2px;
}
label[for=gigya_raasOverrideLinks] {
    font-size: 109%;
    font-weight: bold;
    margin-top: 2em;
}
.raas_allowed_admin_checkall label {
	display: inline-block;
	padding: 5px 10px 5px 5px;
	background-color: #e3e7e8 ;
	color: #585959;
	font-style: italic;
	font-size: 95%;
}
